@use '../base/variables' as *;

///////////////////ページ全体//////////////////

html {
    overflow-x: hidden;

    body {
        font-family: $jpGameFont;
        background-color: $backgroundGray;
        overflow: hidden;

        p {
            font-size: 15px;
            line-height: 30px;
        }

    }

    img {

        max-width: 100%;
        height: auto;
    }

    .headding {
        text-align: center;
        font-family: $enGameFont;
        font-weight: 200;
        font-size: 2.5rem;

    }

    .headdingRuby {
        text-align: center;
        line-height: 8px;
    }

}

#particleArea {
    position: relative;

}


#myCanvas {
    pointer-events: none;
    // width: 100%;
    // height: 100%;

    position: absolute;
    z-index: 1;
    // object-fit: cover;
    // background-color: #00000018;
}


//////////////////ファーストビュー/////////////////

#firstView {
    width: 100%;
    aspect-ratio: 9/16;
    background-image: url(../images/firstview/mainvisual.png);
    background-size: cover;
    background-position: 0 100%;
    position: relative;

    @media(width>=768px) {
        background-image: url(../images/firstview/mainvisual_pc.png);
        margin-block-start: 120px;
        aspect-ratio: 16/9;

    }


    //ロゴとキャッチコピーが画面幅を変えても、背景画像の同じ位置に追従させたかったが断念

    // #titleLogo {
    //     position: absolute;
    //     text-align: center;
    //     right: 0;
    //     bottom: 100px;
    //     left: 0;
    //     margin: auto;
    // }

    // #catchcopy {
    //     margin-inline: auto;
    //     font-family: $jpGameFont;
    //     font-size: 20px;
    //     position: absolute;
    //     right: 0;
    //     bottom: 100px;
    //     left: 0;

    //     text-align: center;
    // }

}

//////////////// ゲーム概要////////////////

#about {
    height: 820px;
    position: relative;

    svg {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-60%, -50%);

    }

    #descWrap {
        position: absolute;
        max-width: 768px;
        text-align: center;
        top: 8%;
        left: 0;
        right: 0;
        padding: 16px;
        margin-inline: auto;
        background-color: #00000058;


        h2 {
            color: #ffff;
            font-weight: 300;
        }

        #aboutDesc {
            color: #ffffffc0;
        }
    }
}

//////////////// キャラクター画面 /////////////////

#character {
    height: 700px;
    background-image: url(../images/character/background.jpg);
    background-size: 700px;
    background-position: bottom;
    padding-block: 36px;

    @media(width>=711px) {
        height: 550px;
        background-size: cover;
        background-position: center;
    }

    .charaThumbnail {
        border: 1px black solid;
        width: 150px;
        height: auto;

        .imgBox {
            width: 150px;
            height: 180px;
            overflow: hidden;

            img {
                object-fit: cover;
            }
        }

        .charaName {
            text-align: center;
            color: #ffff;
            background-color: black;
        }
    }

    #thumbnailWrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-block: 64px;
        gap: 32px;

        a {
            text-decoration: none;

        }

        :nth-child(1) {
            .imgBox {
                img {
                    height: 200%;
                    object-position: -45px -30px;
                }
            }
        }

        :nth-child(2) {
            .imgBox {
                img {
                    height: 125%;
                    object-position: 0px -10px;
                }
            }
        }

        :nth-child(3) {
            .imgBox {
                img {
                    height: 180%;
                    object-position: -20px -30px;
                }
            }
        }

        :nth-child(4) {
            .imgBox {
                img {
                    height: 190%;
                    object-position: -45px -30px;
                }
            }
        }
    }
}

//////////////// システム画面 /////////////////
#system {
    height: 1750px;
    background-color: black;
    padding-block: 2rem;

    @media(width>=768px) {
        height: 1200px;
    }

    .headdingWrap {
        @media(width>=768px) {
            margin-block-end: 5rem;
        }

        .headding {
            color: #ffff;
        }

        .headdingRuby {
            color: #ffff;
        }
    }

    #systemUnity {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        margin-block-start: 1rem;

        .systemWrap {
            display: flex;
            max-width: 768px;
            flex-direction: column;
            align-items: center;
            text-align: center;

            margin-inline: auto;
            gap: 1rem;

            @media(width>=768px) {
                border-bottom: #ececec 1px solid;
                padding-block-end: 2rem;
                flex-direction: row;
                justify-content: center;



                &.odd {
                    .descWrap {
                        order: 2;
                    }

                    .photoFlame {
                        order: 1;
                    }
                }
            }

            .descWrap {
                .systemTitle {
                    font-size: 2rem;
                    font-weight: 500;
                    color: #ffff;
                    margin-block-end: 1rem;
                }

                .systemDesc {
                    font-weight: 200;
                    color: #ffff;
                }
            }

            .photoFlame {
                width: 340px;
                height: 220px;
                background-color: #ffff;
                transform: rotate(-7.33deg);

                .inBox {
                    padding: 1.5rem;
                    object-fit: cover;

                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

//////////////// ギャラリー画面 /////////////////
#gallery {
    height: 610px;
    background-image: url(../images/gallery/headress.jpg);
    background-size: cover;
    background-position: -575px;
    padding-block: 36px;

    @media(width>=525px) {
        background-position: bottom;
    }

    #scroll {
        max-width: 768px;
        display: flex;
        margin-block-start: 5rem;
        justify-content: space-around;
        gap: 1rem;
        margin-inline: auto;

        img {
            max-width: 150px;
            border-radius: 8px;
            box-shadow: 0 0 8px gray;

            @media(width>=575px) {
                max-width: 220px;
            }
        }
    }
}