@use '../base/variables' as *;

// モーダル

/* グレー背景 */
.layer {
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms linear, visibility 100ms linear, z-index 100ms linear;
}



.layer.is-open {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

.layer.is-open .modal {
    opacity: 1;
    visibility: visible;
}

.modal__button-wrap {
    position: absolute;
    right: 10px;
    top: -28px;
    display: inline-flex;
}


.close-button {
    position: relative;
    width: 39px;
    height: 39px;
    background: orange;
    border-radius: 50%;
    padding: 0;
    border: transparent;
    cursor: pointer;
}

.close-button span {
    width: 25px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 12px);
    top: 50%;
    border-radius: 20px;
}

.close-button span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.close-button span:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
}



.modal {
    position: relative;
    margin-inline: auto;

    width: 300px;
    height: 300px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 100ms linear, opacity 100ms linear;
}


.modal__inner {
    position: relative;
    margin-block: 150px;
    margin-inline: auto;
    background: #fff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    display: block;
    padding: 21px 8px 21px;
    height: auto;
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 23px;

    img {
        width: 140px;
        object-fit: cover;
        margin-block: 0.5rem;
    }

    :nth-child(1) {
        font-size: 16px;
        font-weight: 600;

    }

    :nth-child(3) {
        font-size: 20px;

    }

    :nth-child(4) {
        color: ;
    }


}


.modal__button-area {
    max-width: 843px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    padding-top: 15px;
}

#platform {
    font-family: $platformFont;
    background-color: #ffff;

    .btn {

        background-color: $buttonColor ;
        color: #ffff;
        border-radius: 8px;
    }

    .cartInL {
        width: 270px;
        height: 50px;
        margin-inline: auto;
    }

    //送料無料バナー
    #followHeader {
        width: 100%;
        position: fixed;

        a {
            text-decoration: none;
            color: black;
        }

        #postageBanner {
            font-family: $postageFont;
            background-color: #FFCC00;
            height: 55px;
            display: flex;
            justify-content: center;
            gap: 1rem;


            #desc {
                padding-inline-start: 1rem;


                :nth-child(1) {
                    font-size: 13px;
                    font-weight: 400;
                }

                :nth-child(2) {
                    font-size: 24px;
                    line-height: 14px;
                    font-weight: 800;

                    span {
                        font-size: 20px;
                        font-weight: 800;

                    }

                }
            }
        }

        // メニューバー
        #menubar {
            display: flex;
            justify-content: space-around;
            align-items: center;

            height: 40px;
            background-color: #ffff;

            font-weight: 600;
        }
    }

    #pkgIllust {
        width: 100%;
        aspect-ratio: 16/9;
        background-image: url(../images/firstview/mainvisual.png);
        background-size: cover;
        background-position: 0 100%;
        margin-block-start: 110px;
    }

    #mainInfo {
        margin-inline: 8px;
        margin-block: 36px;

        #titleWrap {
            display: flex;
            justify-content: space-between;

            #title {
                font-weight: 400;
            }

            img {
                object-fit: contain;
            }
        }

        #type {
            color: #777777;
            font-size: 13px;
        }

        #catchCopy {
            font-weight: 600;
        }
    }

    #reference {
        display: flex;
        gap: 6px;
        flex-wrap: wrap;


        img {
            width: calc(100%/3 - 6px * 2);
            border-radius: 4px;
        }
    }

    #priceWrap {
        margin-inline: 8px;
        margin-block: 36px;

        :nth-child(1) {
            font-size: 20px;
        }

        #tax {
            font-size: 10px;
        }

    }

    #btnArea {
        width: 100%;
        display: flex;

        .btn {
            margin-inline: auto;
        }
    }

    #info {
        margin: 1rem;

        h2 {
            padding-block: 1rem;
            font-size: 1.5rem;
        }

        table {
            border-collapse: collapse;
            margin-bottom: 70px;

            :first-child {
                th {
                    border-top: 2px $borderGray solid;
                }

                td {
                    border-top: 2px $borderGray solid;

                }
            }

            tr {


                th {
                    border-bottom: 2px $borderGray solid;
                    min-width: 90px;
                    text-align: start;
                    color: $fontGray;
                    font-size: 12px;

                }

                td {
                    border-bottom: 2px $borderGray solid;
                    padding-block: 10px;
                    padding-inline-start: 3rem;
                    width: 500px;


                    li {
                        list-style: none;
                        ;
                    }
                }
            }

            :last-child {
                th {
                    border-bottom: none
                }

                td {
                    border-bottom: none;
                }
            }
        }
    }

    #followFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: #ffff;
        width: 100%;
        bottom: 0;
        border-top: 2px $borderGray solid;
        padding: 1rem;

        #desc {
            display: flex;
            flex-direction: column;
            gap: 5px;

            #cartType {
                color: $fontGray;
                font-size: 12px;
                line-height: 8px;
            }

            #amount {
                display: flex;

                p {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1rem;

                    #amountPrice {
                        font-size: 16px;
                        line-height: 1rem;
                    }
                }
            }
        }

        .cartInS {
            width: 150px;
            height: 35px;
            font-size: 12px;
            font-weight: 600;
        }
    }
}