@use '../base/variables' as *;

.drawerMenu {
    width: 100%;
    height: 100dvh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    opacity: 1;

    right: -100%;

    transition: 0.3s all ease-out;




    #snsWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block-start: 4rem;
        margin-inline-end: 2rem;
        gap: 4rem;

        img {
            object-fit: contain;

        }

        .youtube {
            width: 130px;


        }

        .twitter {
            width: 70px;


        }

        @media(width>=768px) {
            display: none;
        }
    }





    .active {
        right: 0;
        left: 0;

    }

    @media(width >=768px) {
        right: 0;
        top: 68px;
        height: auto;

    }


    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;

        @media(width >=768px) {
            flex-direction: row;
        }

        li {
            a {
                text-decoration: none;
                font-size: 2.5rem;
                color: #ffff;

                @media(width>=768px) {
                    display: block;
                    font-size: 1rem;
                    padding: 1rem 2rem;
                }
            }
        }
    }
}

.drawerMenu.active {
    right: 0;
}

#headerWrap {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 68px;
    z-index: 1000;

    #coumpanyLogo {
        position: absolute;
        top: 15px;
        left: 65px;
        width: 150px;
    }

    #purchaseButton {
        position: absolute;
        width: 150px;
        height: 25px;
        right: 30px;
        top: 25px;

        border-radius: 3px;
        background-color: $buttonColor;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        color: #ffff;
        font-family: $platformFont;
        font-size: 12px;
        font-weight: 600;
    }

}

#menuButton {

    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: black;
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 10000;

    @media(width >=768px) {
        display: none;
    }

    span {
        display: block;
        width: 38px;
        height: 5px;
        background-color: #ffff;
        position: absolute;
        transition: 500ms;

        &:nth-child(1) {
            top: 11px;
            inset-inline: 0;
            margin-inline: auto;
        }

        &:nth-child(2) {
            inset: 0;
            margin: auto;

        }

        &:nth-child(3) {
            bottom: 11px;
            inset-inline: 0;
            margin-inline: auto;

        }
    }
}


#menuButton.active {
    span {
        transition: 500ms;
    }

    span:nth-child(1) {
        inset: 50% 0;
        transform: rotate(405deg);

    }

    span:nth-child(2) {
        transform: scale(0);
    }

    span:nth-child(3) {
        inset: 50% 0;
        transform: rotate(-405deg);

    }

}