// フォントファミリー
$jpGameFont: "Noto Serif JP";
$enGameFont: "Gilda Display";
$platformFont: "Noto Sans JP";
$postageFont: "M PLUS 1p";

// フォントサイズ

// カラー
$buttonColor: #FF5050;
$fontGray: #777777;
$borderGray: #e0e0e0;